apiVersion: v1
kind: ConfigMap
data:
  grafana.ini: |
    [paths]
    provisioning = /etc/grafana/provisioning
    [server]
    [database]
    log_queries =
    [session]
    [dataproxy]
    [analytics]
    [security]
    [snapshots]
    [dashboards]
    [users]
    [auth]
    [auth.anonymous]
    [auth.github]
    [auth.google]
    [auth.generic_oauth]
    [auth.grafana_com]
    [auth.proxy]
    [auth.basic]
    [auth.ldap]
    [smtp]
    [emails]
    [log]
    [log.console]
    [log.file]
    [log.syslog]
    [alerting]
    [metrics]
    [metrics.graphite]
    [tracing.jaeger]
    [grafana_com]
    [external_image_storage]
    [external_image_storage.s3]
    [external_image_storage.webdav]
    [external_image_storage.gcs]
    [external_image_storage.azure_blob]
    [external_image_storage.local]
metadata:
  name: grafana-ini-config
  namespace: monitoring
